{% extends "base.html" %}

{% block content %}

<h1><strong>HexagonSTEM Albums</strong></h1>

<p><button><a href="{% url 'add_albums' %}">Add New Album</a></button></p> -->

<!-- <p><button><a class="add" href="{% url 'add_albums' %}">Add New Album</a></button></p> --> -->

  <!-- <div class="everything"> -->
    <!-- <div class="albums"> -->
        <!-- <div id="loop"> -->
    <div class="flex flex-wrap">
      
          {% for album in albums %}

          <div class="w-33 pa3">

          <div class="flex">
            <!-- <div > -->
          <h2> "{{ album.title }}" </h2>
          <!-- <img src="{{ album.image_url }}" height='200' width='250'> -->

          {% if album.artist %}
            <div ></div>
            <div>by: {{ album.artist_name }}</div>
          {% endif %}

          {% if album.released %}
            <div class="pr2"></div>
            <div>released: {{ album.date_released }}</div>
          {% endif %}

          <p><a href="{% url 'delete_albums' pk=albums.pk %}">Delete Album</a></p>
          </div>
          </div>
          <br>
          {% endfor %}
        </div> 
  </div> 
</div>
{% endblock %}