body {
  text-align: center;
  color:  gold;
  background: darkgray;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: green;
  border: 5px solid black;
  width: 350px;
  height: 350px;
}

.original {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row;
  justify-content:  space-between;
  border: 5px solid blue;
}
